html {
    box-sizing: border-box;
    scroll-behavior:smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    color: #222;
    background: #eeeeee;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    font-family: "Lato", sans-serif; 
}

.newBackground {
    background: #f8edeb;
}